# add files to ignore (not push to github) here.
# The root for these paths will be the location of this .gitignore file (which is 'indicators/YOU_ROOT_FOLDER)')

/R/document_indicator_here_and rename_file.html
/R/badge*
/README_files/
/data/
*_files/

